/* colors*/

$color-sides: rgb(247, 251, 255);
$color-lighten: rgb(237, 245, 255);
$color-main: rgb(232, 240, 250);
$color-light-shadow: rgb(214, 214, 214);
$color-dark-shadow: rgb(93, 93, 93);
$text-color: rgb(54, 49, 79);
$gold-highlight: rgb(210, 189, 122);

/* shadow shades*/


$shadow-outset: -3px -3px 5px white, 3px 3px 5px rgba(93, 93, 93, .188);
$shadow-inset: inset -3px -3px 5px white, inset 3px 3px 5px rgba(93, 93, 93, .188);

$shadow-golden: 0px 0px 5px rgb(210, 189, 122), 0px 0px 10px rgb(210, 189, 122);
